<div id="components" data-view="samples/Components/components">
<style type="text/css">
	#animation .table-view .table-view-cell {
		background-position: 0px 100%;
	}
	#components .content ul {
	  width: 90%;
	  margin-left: 5%;
	  border-left: solid 1px;
	  border-right: solid 1px;
	  border-radius: 4px;
	  border-color: #dddddd;
	}
</style>
<header class="bar bar-nav blue-bar">
    <button class="btn btn-link btn-nav pull-left back">
        <span class="icon icon-left-nav"></span>
    </button>
    <h1 class="title">Component Samples</h1>
</header>
<div class="content">
	<ul class="table-view">
		<li class="table-view-cell media" data-component="ListView">
		    <a class="navigate-right">
		      <span class="media-object pull-left icon"></span>
		      <div class="media-body">
		        ListView
		      </div>
		    </a>
	  	</li>
	  	<li class="table-view-cell media" data-component="Notifycation">
		    <a class="navigate-right">
		      <span class="media-object pull-left icon"></span>
		      <div class="media-body">
		        Notifycation
		      </div>
		    </a>
	  	</li>
	  	<li class="table-view-cell media" data-component="Indicator">
		    <a class="navigate-right">
		      <span class="media-object pull-left icon"></span>
		      <div class="media-body">
		        Indicator
		      </div>
		    </a>
	  	</li>
	  	<li class="table-view-cell media" data-component="Tabbar">
		    <a class="navigate-right">
		      <span class="media-object pull-left icon"></span>
		      <div class="media-body">
		        Tabbar
		      </div>
		    </a>
	  	</li>
	  	<li class="table-view-cell media" data-component="Dialog">
		    <a class="navigate-right">
		      <span class="media-object pull-left icon"></span>
		      <div class="media-body">
		        Dialog
		      </div>
		    </a>
	  	</li>
	  	<li class="table-view-cell media" data-component="DatePicker">
		    <a class="navigate-right">
		      <span class="media-object pull-left icon"></span>
		      <div class="media-body">
		        DatePicker
		      </div>
		    </a>
	  	</li>
	  	<li class="table-view-cell media" data-component="Calendar">
		    <a class="navigate-right">
		      <span class="media-object pull-left icon"></span>
		      <div class="media-body">
		        Calendar
		      </div>
		    </a>
	  	</li>
	  	<li class="table-view-cell media" data-component="Highcharts">
		    <a class="navigate-right">
		      <span class="media-object pull-left icon"></span>
		      <div class="media-body">
		        Highcharts
		      </div>
		    </a>
	  	</li>
	</ul>
</div>
</div>